<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>TERRAFORM TOOLKIT</title>
</head>
<body>
	<h1>TERRAFORM TOOLKIT</h1>
	<form method="POST">
		<label>Mission Date:</label>
		<input name=req_date type="text" value={{date}}><br><br>
		<input type="submit" value="Analyse"><br><br>
	</form>
<div>
	<p>Welcome to the Terraform Toolkit, a platform for envisioning the future of survival on Mars. This site invites you to explore speculative technologies tailored to withstand the planet's extreme conditions. Simply input a mission date, and the system will analyse Mars' environment based on captured imagery, generating a survival solution designed for the challenges of tomorrow.</p>
</div>
<div class="image-container">
    <div class="image-block">
        <h3>MARS CONDITIONS</h3>
        <img src="{{rover_img_filepath}}" alt="Image Capture by the Mars Rover">
    </div>
    <div class="image-block">
        <h3>SURVIVAL TOOL</h3>
        <img src="{{dalle_img_filepath}}" alt="DALL·E Image created by analyzing the conditions captured by the Mars Rover">
    </div>
</div>

<div class="image-container">
    <p>{{gpt_output}}</p>
</div>
</body>
</html>
