<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>MARS and Dalle Images</title>
</head>
<body>
	<h1>MARS and Dalle Images</h1>
	<form method="POST">
		<label>Date for Rover API</label>
		<input name=req_date type="text" value={{date}}><br><br>
		<input type="submit" value="Submit!"><br><br>
		<!-- TO DO - I would like one input, which is the date, that creates a mars rover image, 
		the link of that image is then fed into chatgpt, and it produces a piece of fiction, 
		and then the revised prompt is used to prompt dalle to create a speculative design tool 
		NEED TO REVISE MY INTERACTIVE ELEMENTS-->
	</form>
	<div class="image-container">
	<img src={{rover_img_filepath}}>
	<img src={{dalle_img_filepath}} alt={{revised_prompt}}>
	</div>


</body>
</html>
